{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static  'css/styles.css' %}">
    <title>Contador de calorías</title>
</head>

<body>
    <main>
        <h1>Contador de Calorias</h1>
        <div class="container">
          <form id="contador-calorias">
            <label for="estimacion">Estimación</label>
            <input
              type="number"
              min="0"
              id="estimacion"
              placeholder="Estimación diario de calorías"
              required
            />
            <fieldset id="desayuno">
              <legend>Desayuno</legend>
              <div class="input-container"></div>
            </fieldset>
            <fieldset id="almuerzo">
              <legend>Almuerzo</legend>
              <div class="input-container"></div>
            </fieldset>
            <fieldset id="cena">
              <legend>Cena</legend>
              <div class="input-container"></div>
            </fieldset>
            <fieldset id="snacks">
              <legend>Snacks</legend>
              <div class="input-container"></div>
            </fieldset>
            <fieldset id="ejercicio">
              <legend>Ejercicio</legend>
              <div class="input-container"></div>
            </fieldset>
            <div class="controls">
              <span>
                <label for="entrada-desplegable">Añadir comida o ejercicio:</label>
                <select id="entrada-desplegable" name="options">
                  <option value="desayuno" selected>Desayuno</option>
                  <option value="almuerzo">Almuerzo</option>
                  <option value="cena">Cena</option>
                  <option value="snacks">Snacks</option>
                  <option value="ejercicio">Ejercicio</option>
                </select>
                <button type="button" id="añadir-entrada">Añadir Entrada</button>
              </span>
            </div>
            <div>
              <button type="submit">
                Calcular calorías restantes
              </button>
              <button type="button" id="limpiar">Limpiar</button>
            </div>
          </form>
          <div id="salida" class="output hide"></div>
          <hr>
          Codigo Fuente: 
            <br>
            <a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/#learn-basic-javascript-by-building-a-role-playing-game
            " style="color:bisque" >Freecodecamp </a>
        </div>
        
      </main>
    <script src="{% static '/js/script.js' %} "></script>
</body>


</html>